# Part 2: Target Achievement Analysis
#### a) Using the Sales Target dataset, calculate the percentage change in target sales for the Furniture category month-over-month.

In [1]:
import pandas as pd

In [2]:
sales_target_df = pd.read_csv("Sales_target_1C8295CCDE.csv")

In [3]:
sales_target_df.head()

  Month of Order Date   Category   Target
0              Apr-18  Furniture  10400.0
1              May-18  Furniture  10500.0
2              Jun-18  Furniture  10600.0
3              Jul-18  Furniture  10800.0
4              Aug-18  Furniture  10900.0

In [4]:
sales_target_df.shape

(36, 3)

In [5]:
sales_target_df["percentage_change"] = sales_target_df["Target"].pct_change() * 100

In [6]:
sales_target_df["percentage_change"].fillna(0,inplace=True)
sales_target_df

   Month of Order Date     Category   Target  percentage_change
0               Apr-18    Furniture  10400.0           0.000000
1               May-18    Furniture  10500.0           0.961538
2               Jun-18    Furniture  10600.0           0.952381
3               Jul-18    Furniture  10800.0           1.886792
4               Aug-18    Furniture  10900.0           0.925926
5               Sep-18    Furniture  11000.0           0.917431
6               Oct-18    Furniture  11100.0           0.909091
7               Nov-18    Furniture  11300.0           1.801802
8               Dec-18    Furniture  11400.0           0.884956
9               Jan-19    Furniture  11500.0           0.877193
10              Feb-19    Furniture  11600.0           0.869565
11              Mar-19    Furniture  11800.0           1.724138
12              Apr-18     Clothing  12000.0           1.694915
13              May-18     Clothing  12000.0           0.000000
14              Jun-18     Clothing  12000.0           0.000000
15              Jul-18     Clothing  14000.0          16.666667
16              Aug-18     Clothing  14000.0           0.000000
17              Sep-18     Clothing  14000.0           0.000000
18              Oct-18     Clothing  16000.0          14.285714
19              Nov-18     Clothing  16000.0           0.000000
20              Dec-18     Clothing  16000.0           0.000000
21              Jan-19     Clothing  16000.0           0.000000
22              Feb-19     Clothing  16000.0           0.000000
23              Mar-19     Clothing  16000.0           0.000000
24              Apr-18  Electronics   9000.0         -43.750000
25              May-18  Electronics   9000.0           0.000000
26              Jun-18  Electronics   9000.0           0.000000
27              Jul-18  Electronics   9000.0           0.000000
28              Aug-18  Electronics   9000.0           0.000000
29              Sep-18  Electronics   9000.0           0.000000
30              Oct-18  Electronics   9000.0           0.000000
31              Nov-18  Electronics   9000.0           0.000000
32              Dec-18  Electronics   9000.0           0.000000
33              Jan-19  Electronics  16000.0          77.777778
34              Feb-19  Electronics  16000.0           0.000000
35              Mar-19  Electronics  16000.0           0.000000

#### b) Analyse the trends to identify months with significant target fluctuations. Suggest strategies for aligning target expectations with actual performance trends.

In [7]:
threshold = 0.10
significant_fluctuations = sales_target_df[sales_target_df["percentage_change"].abs() > threshold]
significant_fluctuations

   Month of Order Date     Category   Target  percentage_change
1               May-18    Furniture  10500.0           0.961538
2               Jun-18    Furniture  10600.0           0.952381
3               Jul-18    Furniture  10800.0           1.886792
4               Aug-18    Furniture  10900.0           0.925926
5               Sep-18    Furniture  11000.0           0.917431
6               Oct-18    Furniture  11100.0           0.909091
7               Nov-18    Furniture  11300.0           1.801802
8               Dec-18    Furniture  11400.0           0.884956
9               Jan-19    Furniture  11500.0           0.877193
10              Feb-19    Furniture  11600.0           0.869565
11              Mar-19    Furniture  11800.0           1.724138
12              Apr-18     Clothing  12000.0           1.694915
15              Jul-18     Clothing  14000.0          16.666667
18              Oct-18     Clothing  16000.0          14.285714
24              Apr-18  Electronics   9000.0         -43.750000
33              Jan-19  Electronics  16000.0          77.777778

#### What does above data tell?
#### For Clothing July-18 & October-18 showed the highest percentage change while April-18 showed the lowest
#### For Electronics There is huge fluctuation between Jan-19 & Apr-18
#### For Furniture no too much change can be seen through different months

#

#### What strategies can be applied?
#### For Clothing July & October sees the highest percentage change , this could be mainly due to seasonal changes so we could segment targets accordingly like which months are high in demand , which are medium and which are low.

#### For Electronics we could see huge fluctuation between January & April , the resaon behind this could be during that time a lot of new products are launched , many products may even have huge discounts like during new year. Here we can segment electronic devices based on the seaonal eg high demand season (usually winters due to festival time like Diwali , Christmas , New year) , mid-demand seasons (especially during summers when the demand is usually normal) , low-demand (period after the high-demand season , as the stock of product might go low).  


#### For furniture I really don't think anything applies here as our data didn't suggest anything fluctuating and there was steady growth.