# QUESTION 1
# Sales Analysis:

# Part 1: Sales and Profitability Analysis
#### a) Merge the List of Orders and Order Details datasets on the basis of Order ID. Calculate the total sales (Amount) for each category across all orders.

In [1]:
import pandas as pd

In [2]:
order_list_df = pd.read_csv("List_of_Orders_38EF37C2F3.csv")
order_details_df = pd.read_csv("Order_Details_F6D252B2DD.csv")

In [3]:
order_list_df.head()

  Order ID  Order Date CustomerName           State       City
0  B-25601  01-04-2018       Bharat         Gujarat  Ahmedabad
1  B-25602  01-04-2018        Pearl     Maharashtra       Pune
2  B-25603  03-04-2018        Jahan  Madhya Pradesh     Bhopal
3  B-25604  03-04-2018       Divsha       Rajasthan     Jaipur
4  B-25605  05-04-2018      Kasheen     West Bengal    Kolkata

In [4]:
order_details_df.head()

  Order ID  Amount  Profit  Quantity     Category      Sub-Category
0  B-25601  1275.0 -1148.0         7    Furniture         Bookcases
1  B-25601    66.0   -12.0         5     Clothing             Stole
2  B-25601     8.0    -2.0         3     Clothing       Hankerchief
3  B-25601    80.0   -56.0         4  Electronics  Electronic Games
4  B-25602   168.0  -111.0         2  Electronics            Phones

In [5]:
merged_data = pd.merge(order_details_df , order_list_df , on='Order ID')
merged_data.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,Order Date,CustomerName,State,City
0,B-25601,1275.0,-1148.0,7,Furniture,Bookcases,01-04-2018,Bharat,Gujarat,Ahmedabad
1,B-25601,66.0,-12.0,5,Clothing,Stole,01-04-2018,Bharat,Gujarat,Ahmedabad
2,B-25601,8.0,-2.0,3,Clothing,Hankerchief,01-04-2018,Bharat,Gujarat,Ahmedabad
3,B-25601,80.0,-56.0,4,Electronics,Electronic Games,01-04-2018,Bharat,Gujarat,Ahmedabad
4,B-25602,168.0,-111.0,2,Electronics,Phones,01-04-2018,Pearl,Maharashtra,Pune

In [6]:
merged_data["Category"].unique()

array(['Furniture', 'Clothing', 'Electronics'], dtype=object)

In [7]:
merged_data.shape

(1500, 10)

In [8]:
total_sales = merged_data.groupby("Category")["Amount"].sum()
total_sales = pd.DataFrame({
    "Total_sales" : total_sales
})
total_sales

             Total_sales
Category
Clothing        139054.0
Electronics     165267.0
Furniture       127181.0

#### b) For each category, calculate the average profit per order and total profit margin (profit as a percentage of Amount).

In [9]:
average_profit_per_order = merged_data.groupby("Category")["Profit"].mean()
average_profit_per_order = pd.DataFrame({
    "Average_profit" : average_profit_per_order
})
average_profit_per_order

             Average_profit
Category
Clothing          11.762908
Electronics       34.071429
Furniture          9.456790

In [10]:
total_profit_by_category = merged_data.groupby('Category')['Profit'].sum()
total_amount_by_category = merged_data.groupby('Category')['Amount'].sum()
profit_margin = (total_profit_by_category / total_amount_by_category) * 100
profit_margin = pd.DataFrame({
    "Profit_Margin" :profit_margin
})
profit_margin

             Profit_Margin
Category
Clothing          8.027817
Electronics       6.349725
Furniture         1.806874

#### c) Identify the top-performing and underperforming categories based on these metrics. Also, suggest reasons for their performance diEerences.

#### Taking both average profit and profit margin we can see following
#### Top Performing - Clothing as it has highest profit margin and good average profit
#### Underperforming - In my opinion furniture is the most underperforming based on above metrics

#### The main reasons for the performance difference between them will be clothing items are always in demand in huge numbers and different clothing items can vary in cost. Also cost of production is also not high compared to furniture and electronics, while on other hand furniture items are expensive to produce(eg production of raw materials for furniture products like wood , metals etc are expensive).